.section9-block div:not(:nth-child(4)){
    margin-right: 20px;
}

.section9-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img img {
    border-radius: 50%;
}

.section9-item h1 {
    color: #242424;
    font-size: 28px;
    margin: 10px 0;
}

.section9-item p {
    margin-bottom: 15px;
}

.items-icons a {
    background-color: #FF4E00;
    width: 30px;
    height: 30px;
}

.items-icons a:hover {
    background-color: #0F356C;
}

@media screen and (max-width: 1024px){
    .section9-block  {
        flex-wrap: nowrap;
    }
    .item-img {
        width: 90%;
    }

    .item-img img {
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    .section9-block{
        flex-wrap: wrap;
    }
   .section9-block .section9-item:not(:last-child){
       margin: 10px 0;
   }
   
}