.section-8 {
    background-image: url('https://template66383.motopreview.com/mt-demo/66300/66383/mt-content/uploads/2018/03/mt-1378-home2-bg2.png');
    display: flex;
    background-color: #E3EAF3;
    padding: 90px 0;
    align-items: center;
    justify-content: center;
}

.section8-txt {
    width: 40%;
}

.section8-block {
    width: 45%;
    margin-left: 50px;
}

.section8-txt h1 { 
    line-height: 50px;
}

.section8-txt p {
    margin-top: 20px;
}

.section8-item {
    width: 80%;
    margin-bottom: 20px;
}

.inner-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;

}

.white-bckg, .inner-bckg, .inner-bckg-blue, .inner-bckg-green {
    width: 100%;
    height: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.inner-bckg {
    width: 82%;
    background-color: #FF4E00;
}

.inner-bckg-blue {
    background-color: #2db8f5;
    width: 95%;
}

.inner-bckg-green {
    width: 93%;
    background-color: green;
}

@media screen and (max-width: 768px) {
    .section8-txt h1 {
        line-height: 32px;
    }

    .section8-txt {
        width: 45%;
    }

    .section8-item {
        width: 95%;
    }
}
@media screen and (max-width: 425px){
    .section-8{
        flex-wrap: wrap;
        padding: 50px 0;
    }
    .section8-txt, .section8-block{
        width: 95%;
    }
    .section8-block{
        margin-left: 0;
        margin-top: 20px;
    }
    
}