.section-14 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 90px 0;
}

.section14-block {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section14-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 60px;
    align-items: flex-end;
}

.section-14 .section-title {
    margin-bottom: 50px;
}

.section-14 .section-title, .section-14 .section-top-title {
    margin-left: 130px;
}

.address-item {
    margin-bottom: 30px;
}

.address-item i {
    font-size: 24px;
    color: #2db8f5;
}

.address-item span {
    margin-left: 15px;
    color: #3e3e3e;
}

.address-item span a {
    text-decoration: none;
    color: #3e3e3e;
}

.section14-h1 {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.section14-form input, .section14-form textarea {
    width: 100%;
    padding: 20px 0 20px 15px;
    border-radius: 30px;
    border: 2px solid #E3EAF3;
    margin-bottom: 20px;
    outline: none;
    font-family: 'Varela Round', sans-serif;
}


.section14-form input::placeholder, .section14-form textarea::placeholder {
    color: #242424;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.section14-form input:focus, .section14-form textarea:focus {
    border: 2px solid #FF4E00;
}

@media screen and (max-width: 768px){
    .section-14 {
        width: 95%;
    }
    .section-14 .section-title, .section-14 .section-top-title, .section14-block {
        margin-left: 1rem;
    }
}
@media screen and (max-width: 425px){
    .section14-block{
        flex-wrap: wrap;
    }
    .address-item span{
        font-size: 14px;
    }
    .section14-form{
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
    }
    .section-14{
        padding: 50px 0;
    }
}